---
---

@import 'variables';

@import 'reset';
@import 'bg-icons';
@import 'site-frame';
@import 'page-slides';
@import 'professionals';
@import 'clients';
@import 'home-slides';
@import 'forms';
@import 'team-list';
@import 'team-page';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*:focus {
   outline: 0;
}
body {
  background: $body-background;
  color: $font-color;
}
body, button, label {
  font-family: $font-family; 
}
a {
  color: $link;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  &:hover {
    color: darken($link, 10);
  }
}
p {
  line-height: 1.5em;
}
.button {
  padding: 1em 1.5em;
  color: #fff;
  display: inline-block;
  background: $main-color;
  font-family: $accent-font;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background: lighten($main-color,10);
  }
}
.button-white {
  padding: 1em 1.5em;
  color: $main-color;
  display: inline-block;
  background: #eee;
  font-family: $accent-font;
  text-transform: uppercase;
  &:hover {
    color: $main-color;
    background: #fff;
  }
}