.intro-background {
	position: fixed;
	//position: absolute;
	top: $nav-height; bottom: 0;
	left: 0; right: 0;
	z-index: -1;
	background-size: cover;
	background-position: right bottom;
	@include transition(all .3s);
	@include grayscale2(100%);
	opacity: .2;
}
.home-intro {
	color: #fff;
	padding: 15vh 0;
	position: relative;
	&:after {
		content: '';
		width: 0;
		height: 0;
		border-left: 100vw solid transparent;
		border-right: 0px solid transparent;
		border-bottom: $slant-amount solid #fff;

		position: absolute;
		bottom: 0;
		left: 0; right: 0;
		z-index: 5;
		@include transition(border-bottom 1s);

	}
	.logo {
		font-size: 2.5em;
		margin-bottom: 15px;
		display: inline-block;
		color: #fff;
		i {
			margin-left: -10px;
		}
	}
	.site-tag {
		position: relative;
		z-index: 2;
	}
	.hero {
		max-width: $page-size - 40;
		margin: 0 auto;
		padding: 0 20px;
		h1 {
			font-size: 2em;
			line-height: 1.3em;
			margin-bottom: .3em;
		}
		p {
			font-size: 1.1em;
		}
	}
}
.fadetocolor {
	.intro-background {
		//@include grayscale(0%);
		//opacity: 1;
		//@include transition(all 1.5s ease-out);
	}
	.hero {
		//opacity: 0;
		//@include transition(all 1s .5s);
	}
	
}

.start-grow {
	overflow: hidden;
	padding: 5em 2em;
	.callout {
		margin-bottom: 30px;
		font-family: $accent-font;
		ul {
			font-size: 20px;
			overflow: hidden;
			text-align: right;
		}
		i {
			font-size: 80px;
			@include transform(scale(.6));
			margin-bottom: 20px;
			display: block;
			margin-left: -20px;
			margin-right: -20px;
		}
	}
	li {
		display: block;
		float: left;
		text-align: center;
		width: 33.3%;
	}
	p {
		margin-bottom: 2em;
	}
	.copy {
		margin-bottom: 30px;
	}
	a:hover {
		i {
			@include transform(scale(1.1));
			text-shadow: 0 0 10px #ffff00;
		}
	}
	.services-list {
		//clear: both;
		display: none;
		font-size: .8em;
		color: $main-color;
		font-family: $accent-font;
		text-transform: uppercase;
		a {
			display: block;
			margin-bottom: 10px;
		}
	}
	&.animate  {
		li {
			&:nth-child(1) i {
				@include transition(all .3s);
			}
			&:nth-child(2) i {
				@include transition(all .6s);
			}
			&:nth-child(3) i {
				@include transition(all .9s);
			}
		}
		i {
			@include transform(scale(1));
		}

	}
}
.about-bg {
	@include transition(all .3s);
	padding: 5em 0 7em;
	i {
		font-size: 6em;
		margin-left: -10px;
	}
	p {
		margin-bottom: 2em;
	}
}
.gray-pic {
	@include grayscale(100%);
}
.values {
	padding: 5em 0;
	h2 {
		margin: 0 0 40px;
		text-transform: uppercase;
		color: $main-color;
		span {
			border-bottom: 5px solid $main-color;
			display: inline-block;
			padding: 0 $mobile-side-space 10px;
		}
	}
	h3 {
		font-size: 20px;
		color: $main-color;
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 25px;
	}
	.copy {
		overflow: hidden;
		div {
			padding: 0 30px;
		}
	}
	.button {
		margin: 0 30px;
		display: block;
		text-align: center;
	}
}
.give-back {
  	padding: 6em 0;
	@include transition(all 1s);
	background-image: url(../img/slide-bg-camelback.jpg);
	h2 {
		color: #fff;
		margin-bottom: 20px;
	}
	.copy {
		margin-top: 50px;
	}
}
.contact-home {
	background: $main-color;
	color: #fff;
	padding: 2em 0;
	.inner {
		padding: 0 10px;
	}
	span {
		font-size: 1.3em;
		font-family: $accent-font;
	}
	.button-white {
		display: block;
		margin-bottom: 10px;
		text-align: center;
	} 
}
.hex-callout {
	width: $hex-size;
	height: $hex-size-side*4;
	font-family: $accent-font;
	color: #fff;
	text-transform: uppercase;
    text-align: center;
    z-index: 3;
    position: relative;
	span {
		display: block;
		font-size: 1.4em;
		line-height: 1.3em;

	}
	em {
    	margin-top: 5px;
    	padding-top: 10px;
		display: block;
		font-size: .9em;
		border-top: 1px solid #fff;
	}
	.hex, .text {
		position: absolute;
		top: 0;
		left: 0; right: 0;
		z-index: 2;
		display: block;
	}
	.text {
		top: $hex-size-side;
		padding: 10px 20px 0;
		@include transition(all .3s);
	}

}
.hex {
    margin-top: $hex-size-side;
    margin-bottom: $hex-size-side;
    width: $hex-size;
    height: $hex-size/2 + 20px;
    background: $hex-color;
    position: relative;

    &:before, &:after {
	    content: " ";
	    width: 0; height: 0;
	    overflow: hidden;
	    position: absolute;
	    left: 0;
	    border-left: $hex-size/2 solid transparent;
	    border-right: $hex-size/2 solid transparent;
    }
	&:before {
	    border-bottom: $hex-size-side solid $hex-color;
	    top: -($hex-size-side);
	}
	&:after {
	    bottom: -($hex-size-side);
	    border-top: $hex-size-side solid $hex-color;
	}
}

$callout-offset: 200px;
.map-slide {
	background: #fff;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	.hex-callout {
    	position: absolute;
    	top: $map-height/2;
    	left: 50%;
		margin-top: -(($hex-size-side*4)/2);
		margin-left: -($hex-size/2);
	}
	&.map-open {
	    .hex, .text {
	    	@include transform(scale(.8));
			@include transition(all .5s);
	    }
	}
	&:hover {
		.text {
			content: 'Get Directions';
		}
	}
}
.map-canvas {
	height: $map-height;
	width: 100%;
    background-color: #CCC;
}
.map-image {
	height: 500px;
	width: 100%;
    background-color: #CCC;
    img {
    	width: 1200px;
    }
    display: none;

}


//Responsive 

@media all and (max-width: 420px) {

.start-grow {
	.button {
		display: block;
		text-align: center;
	}
}
.give-back {
	h2 {
		font-size: 20px;
	}
	.image {
		padding: 0 30px;
	}
}
}


@media all and (min-width: 420px) {

	.home-intro {
		height: 80vh;
		min-height: 420px;
		max-height: 540px;
		.logo {
			font-size: 5.5em;
			margin-bottom: 20px;
			i {
				margin-left: -22px;
			}

		}
		.hero {
			p {
				font-size: 1.6em;
				max-width: 575px;
			}
		}
	}

.start-grow {
	padding: 10em 2em;
	.copy {
	}
	.callout {
		margin-left: 10%;
		width: 45%;
		float: right;
		ul {
			font-size: 30px;
		}
		i {
			font-size: 100px;
		}
	}
	p {
		font-size: 1.2em;
	}
	.services-list {
		//padding: 5em 100px 0;
		text-align: center;
		//line-height: 1.8em;
		span {
			display: inline-block;
			&:before, &:last-child:after {
				//content: ' ';
				//padding: 0 10px;
			}
		}

	}
}
.about-bg {
	background-image: url(../img/slide-bg-about.jpg);
	padding: 10em 2em 15em;
	i {
		font-size: 8em;
		margin-left: -20px;
	}
}
.values {
	padding: 10em 0;
	h2 {
		text-align: left;
		margin-left: 15px;
		span {
			padding: 0 0 10px;
		}
	}
	.copy {
		div {
			width: 25%;
			float: left;
			padding: 0 15px;
			margin-bottom: 20px;
		}
	}
	.button {
		margin: 0 15px;
		clear: both;
	}
}
.give-back {
  	padding: 9em 2em;
}
.contact-home {
	.button-white {
		float: right;
		margin-left: 30px;
		margin-bottom: 0;
	} 
}

}
@media all and (min-width: 800px) {

}


