// Our Firm
.about-overview {
	font-size: 16px;
	strong {
		font-size: 1.4em;
		line-height: 1.3em;
	}
	.inner {
		padding: 3em 0;
	}
	.copy {
		padding: 0 $mobile-side-space;
	}
	p {
		margin-bottom: 1em;
	}
	.tall-image {
		display: none;
	}
	.image img {
		width: 100%;
	}
}
.about-overview-2 {
	font-size: 1.2em;
	strong {
		font-size: 1.4em;
		line-height: 1.3em;
	}
	.inner {
		padding: 3em 0;
	}
	.copy {
		padding: 0 $mobile-side-space;
	}
	p {
		margin-bottom: 1em;
	}
	.image img {
		width: 100%;
	}
}
.our-firm-page {
	.slide-page-header {
		&:after {
			display: none;
		}
	}
	.give-back {
		&:before {
			display: none;
		}
	}
	.values {
		overflow: hidden;
		.copy {
			div:nth-child(5n) {
				clear: both;
			}
		}
	}
}
@media all and (min-width: 420px) {

.about-overview-2 {
	background-image: url(../img/slide-bg-ourfirm-2.jpg);
	background-size: cover;
	background-position: center top;
	.inner {
		padding: 6em 20px;
	}
	.copy {
		width: 60%;
		margin-right: 5%;
		float: left;
		padding: 0;
	}
	.image {
		display: none;
	}
}
}
@media all and (min-width: 600px) {
.about-overview {
	position: relative;
	.inner {
		padding: 30px 20px 20px;
	}
	.copy {
		width: 60%;
		margin-right: 5%;
		float: left;
		padding: 0;
	}
	.image {
		display: none;
	}
	.tall-image {
		display: block;
		background-color: $gray-light;
		position: absolute;
		top: 0; bottom: 0;
		left: 65%;
		right: 0;
		background-size: constrain;
		background-position: center top;
		background-repeat: no-repeat;	
	}
}
}
@media all and (min-width: 900px) {
.about-overview {
	font-size: 1.2em;
	strong {
		font-size: 1.4em;
	}
	.inner {
		padding: 3em 20px;
	}
}
}