.slide  {
	background: #fff;
	.inner {
		max-width: $page-size;
		margin: 0 auto;
		overflow: hidden;
	}
}
.slide-bg-image {
	background-color: $gray-lightest;
	background-size: cover;
	background-position: center top;
	position: relative;
	
	&:before {
		content: '';
		width: 0;
		height: 0;
		border-left: 100vw solid transparent;
		border-right: 0 solid transparent;
		border-top: $slant-amount solid #fff;

		position: absolute;
		top: 0;
		left: 0; right: 0;
		z-index: 5;
	}
	&:after {
		content: '';
		width: 0;
		height: 0;
		border-left: 100vw solid transparent;
		border-right: 0 solid transparent;
		border-bottom: $slant-amount solid #fff;

		position: absolute;
		bottom: 0;
		left: 0; right: 0;
		z-index: 5;
	}
	
	.image {
		img {
			max-width: 100%;
		}
	}
}
.slide-page-header {
	background-color: $main-color;
	color: #fff;
	position: relative;
	overflow: hidden;
	.inner {
		padding: 4em 0 6em;
	}
	h1 {
		margin-bottom: 10px;
	}
	p {
		font-size: 1.3em;
	}
	&:after {
		content: '';
		width: 0;
		height: 0;
		border-left: 100vw solid transparent;
		border-right: 0 solid transparent;
		border-bottom: $slant-amount solid #fff;

		position: absolute;
		bottom: 0;
		left: 0; right: 0;
		z-index: 5;
	}

}
/*
.slide-page-header {
	.inner {
		padding: 5em 0;
	}
	h1 {
		margin-bottom: 20px;
		color: $main-color;
	}
	p {
		font-size: 1.3em;
		padding: 20px 0;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
} 
*/
/* bg slide template
.about-bg {
	background-image: url(../img/slide-bg-about.jpg);
	padding: 10em 2em 15em;
	i {
		font-size: 8em;
		margin-left: -20px;
	}
	p {
		margin-bottom: 2em;
	}
}
*/
.give-back {
	.image a {
		display: block;
	}
}
// Associations
.associations {
	border-bottom: 3px solid $main-color;
	h2 {
		color: $main-color;
		margin-bottom: 40px;
		text-align: left;
	}
	p a {
		text-decoration: underline;
		&:hover {
			color: lighten($main-color,10);
		}
	}
	strong {
		font-size: 24px;
		line-height: 32px;
		font-family: $accent-font;
		color: $main-color;
	}
	.inner {
		padding: 3em 0;
		overflow: hidden;
	}
	.copy, .logos {
		padding: 0 $mobile-side-space;
	}
	.logos {
		//text-align: center;
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}
	.divider {
		height: 150px;
		position: relative;
		text-align: center;
		&:after, &:before {
			border-bottom: 4px solid #959595;
			position: absolute;
			top: 50%; margin-top: -2px;
			right: 0; left: 57%;
			content: '';
			z-index: 2;
		}
		&:before {
			right: 57%; left: 0; 
		}
		span {
			font-weight: bold;
			font-size: 140px;
			color: #eee;
			position: absolute;
			top: -10px;
			right: 0; left: 0;
		}
		em {
			font-weight: bold;
			color: #959595;
			line-height: 150px;
			margin: 0 auto;
			position: relative;
			z-index: 2;
			font-family: $accent-font;
		}
	}
}
.association-header {
	text-align: center;
	overflow: hidden;
	padding-top: 50px;
	h2 {
		color: $main-color;
		max-width: 500px;
		margin: 0 auto 25px;
	}
	img {
		max-width: 275px;
		margin-top: 25px;
	}
	img, .divider {
		//float: left;
	}
	.divider {
		display: none;
		width: 150px;
		margin: 0 25px;
		height: 90px;
		position: relative;
		text-align: center;
		&:after, &:before {
			border-bottom: 4px solid #959595;
			position: absolute;
			top: 50%; margin-top: -2px;
			right: 0; left: 70%;
			content: '';
			z-index: 2;
		}
		&:before {
			right: 70%; left: 0; 
		}
		span {
			font-weight: bold;
			font-size: 130px;
			color: #eee;
			position: absolute;
			top: -20px;
			right: 0; left: 0;
		}
		em {
			font-weight: bold;
			color: #959595;
			line-height: 90px;
			margin: 0 auto;
			position: relative;
			z-index: 2;
			font-family: $accent-font;
		}
	}

}


// Services 
.slide-service {
	.inner {
		overflow: visible;
		padding: 4em $mobile-side-space;
	}
	h2 {
		position: relative;
		&:after {
			content: '';
		}
		&:before {
			content: '-';
			font-size: 50px;
			color: $main-color;
			position: absolute;
			top: -3px;
			left: -25px;
		}
	}

}
.instafeed {
	background-color: $main-color;
    background-image: url(../img/slide-bg-camelback.jpg);
    &:after {
    	display: none;
    }
	.inner {
		padding: 6em 2em;
	}
	h2 {
		color: #fff;
		margin-bottom: 20px;
		a {
			color: #fff;
		}
	}
	.images {
		img {
			width: 100%;
		}
		a {
			display: inline-block;
			width: 50%;
		}

	}
}
// Giving Back
.slide-giving-back-large {
	padding: 6em 0;
	h2, p {
		max-width: 600px;
		text-align: center;
		margin: 0 $mobile-side-space;

	}
	h2 {
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 50px;
	}
	.discount {
		font-weight: bold;
		font-size: 20px;
		color: $main-color;
	}
}
.logo-list {
	overflow: hidden;
	margin: 0 $mobile-side-space;
	li {
		float: left;
		width: 50%;
		text-align: center;
		margin-bottom: 40px;
		opacity: 0;
	}
	img {
		width: 125px;
		@include grayscale(100%);
		opacity: .7;
		@include transition(all .3s);
	}
	img:hover {
		@include grayscale(0%);
		opacity: 1;
	}
}
.charity-list {
	clear: both;
	text-align: center;
	font-size: 1.1em;
	line-height: 1.8em;
	color: $main-color;
	font-family: $accent-font;
	text-transform: uppercase;
	span {
		display: inline-block;
		&:before, &:last-child:after {
			content: ' ';
			padding: 0 10px;
		}
	}
}
// Contact
.slide-contact {
	.copy {
		padding: 4em $mobile-side-space 2em;
	}
	form {
		padding: 0 $mobile-side-space;
	}
}
.traklight {
	text-align: center;
	.inner {
		border-top: 1px solid darken($gray-lightest,10);
	}
	a {
		display: inline-block;
		margin: 2em 0;
	}
	img {
		width: 150px;
	}
}

.slide-disclaimer {
	text-align: center;
	.inner {
		border-top: 1px solid darken($gray-lightest,10);
		padding: 50px 0;
		line-height: 1.3em;
	}
	&.disclaimer-large {
		font-size: 1.3em;
		.inner {
			border-top: none;
			padding-top: 0;
		}
	}

}

// Responsive
@media all and (max-width: 420px) {
.slide-bg-image {
	.button, .button-white {
		display: block;
		text-align: center;
	}
	.copy {
		padding: 0 30px;
	}
}

}
@media all and (min-width: 420px) {
.slide-bg-image {
	.copy {
		width: 50%;
		float: right;
	}
	.image {
		width: 40%;
		float: left;
	}

}
.testimonial {
	padding: 10em 0 8em;
	.copy {
		width: 60%;
		float: left;
	}
	.client-name {
		width: 40%;
		float: left;
	}

}
// Associations
.associations {
	.copy {
		float: left;
		width: 55%;
	}
	.logos {
		float: left;
		width: 40%;
		padding-right: 5%;
	}
}

// Services 
.slide-service {
	.inner {
		padding-top: 0;
		padding-bottom: 0;
	}
	ul {
		overflow: hidden;
		position: relative;
		padding: 10em 0 6em;
		margin-top: -2em;
		z-index: 10;
		&:before {
			content: '-';
			width: 4px;
			font-size: 1px;
			color: $main-color;
			background: $main-color;
			position: absolute;
			top: 0; bottom: 0;
			left: 50%;
			margin-left: -2px;
		}
	}
	li {
		width: 50%;
		float: left;
		padding-bottom: 40px;
		&:nth-child(odd) {
			padding-right: 50px;
			clear: left;
			text-align: right;
			h2:after {
				right: -53px;
			}
		}
		&:nth-child(even) {
			padding-left: 50px;
			@include transform(translateY(100px));
			h2:after {
				left: -53px;
			}
		}
	}
	h2 {
		position: relative;
		&:before {
			content: '';
		}
		&:after {
			content: '-';
			font-size: 50px;
			color: $main-color;
			position: absolute;
			top: 0;
		}
	}

}

// Clients
.testimonial-bg {
	.quote {
		width: 60%;
		float: left;
	}
	.client-name {
		width: 40%;
		padding: 2em 0;
		float: right;
	}
}

// Giving Back
.slide-giving-back-large {
	h2, p {
		margin: 0 auto;

	}
	h2 {
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 50px;
	}
}
.logo-list {
	margin: 0;
	li {
		width: 20%;
	}

}
.instafeed {
	.inner {
		padding: 9em 2em;
	}
	.images {
		a {
			width: 25%;
			padding: 0 20px 20px 0;
		}
	}

}

// Contact
.slide-contact {
	padding: 8em 0 4em;
	.copy {
		width: 40%;
		padding: 0;
		padding-right: 100px;
		float: left;
	}
	.phone {
		margin-top: 3em;
		font-size: 1.4em;
		color: $main-color;
		font-family: $accent-font;
		em {
			font-size: 14px;
		}
	}
	form {
		width: 60%;
		float: left;
		padding: 0;

	}
}


}


