.slide  {
	background: #fff;
	.inner {
		max-width: $page-size;
		margin: 0 auto;
		overflow: hidden;
	}
}
.slide-bg-image {
	background-size: cover;
	background-position: center top;
	position: relative;
	&:before {
		content: '';
		width: 0;
		height: 0;
		border-left: 100vw solid transparent;
		border-right: 0 solid transparent;
		border-top: $slant-amount solid #fff;

		position: absolute;
		top: 0;
		left: 0; right: 0;
		z-index: 5;
	}
	&:after {
		content: '';
		width: 0;
		height: 0;
		border-left: 100vw solid transparent;
		border-right: 0 solid transparent;
		border-bottom: $slant-amount solid #fff;

		position: absolute;
		bottom: 0;
		left: 0; right: 0;
		z-index: 5;
	}
	.copy {
		width: 40%;
		float: right;
	}
}
.slide-page-header {
	background-color: $main-color;
	color: #fff;
	position: relative;

	//background-size: cover;
	//background-position: center top;
	//background-image: url(../img/scottsdale-temporary-fade.jpg);
	.inner {
		padding: 6em 0 10em;
	}
	h1 {
		margin-bottom: 10px;
	}
	p {
		font-size: 1.3em;
	}
	&:after {
		content: '';
		width: 0;
		height: 0;
		border-left: 100vw solid transparent;
		border-right: 0 solid transparent;
		border-bottom: $slant-amount solid #fff;

		position: absolute;
		bottom: 0;
		left: 0; right: 0;
		z-index: 5;
	}

}
/*
.slide-page-header {
	.inner {
		padding: 5em 0;
	}
	h1 {
		margin-bottom: 20px;
		color: $main-color;
	}
	p {
		font-size: 1.3em;
		padding: 20px 0;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
} 
*/
/* bg slide template
.about-bg {
	background-image: url(../img/slide-bg-about.jpg);
	padding: 10em 2em 15em;
	i {
		font-size: 8em;
		margin-left: -20px;
	}
	p {
		margin-bottom: 2em;
	}
}
*/


// Our Firm
.about-overview {
	font-size: 1.2em;
	strong {
		font-size: 1.4em;
		line-height: 1.3em;
	}
	.inner {
		padding: 6em 0;
	}
	.copy {
		width: 45%;
	}
	p {
		margin-bottom: 1em;
	}
}
// Professionals
.professionals {
	padding: 10em 0;
	a {
		display: block;
		position: relative;
		background-size: cover;
		background-position: center top;
		height: 400px;
		width: 25%;
		float: left;
	}
	span {
		display: block;
		background: rgba($main-color,.9);
		color: #fff;
		padding: .3em;
		line-height: 1.4em;
		position: absolute;
		bottom: 0;
		height: 80px;
		width: 100%;
	}
	strong {
		font-size: 1.3em;
		display: block;
	}
}