
// Professionals
.professionals {
	padding: 4em 0;
	h2 {
		max-width: 600px;
		text-align: center;
		margin: 0 $mobile-side-space 2em;
	}
	h3 {
		margin-bottom: .3em;
	}
	.professionals-nav {
		overflow: hidden;
		a {
			cursor: pointer;
			display: block;
			position: relative;
			background-size: cover;
			background-position: center top;
			height: 170px;
			//width: 33.333%; // 3 people
			//width: 25%; // 4 people
			//width: 20%; // 5 people
			width: 16.666%; // 6 people
			float: left;
			overflow: hidden;
			opacity: .8;
			&:hover {
				opacity: 1;
					@include transition(all .5s);
				strong {
					@include transition(all .5s);
					text-shadow: 0 0 5px rgba(#000,.8);
				}
			}
			&.selected {
				opacity: 1;
			}
		}
		span {
			display: block;
			//background: rgba($main-color,.9);
			@include gradient(#000,0,#000,.9);
			text-shadow: 0 0 5px rgba(#000,.9);
			color: #fff;
			padding: 1.5em .5em .5em;
			line-height: 1.4em;
			position: absolute;
			bottom: 0; left: 0; right: 0;
			height: 105px;
			//width: 600px;
			overflow: hidden;
		}
		strong, em {
			display: none;
		}
		strong {
			font-size: 1.1em;
		}
		em {
			font-size: .8em;
			line-height: 1.1em;
			//width: 500px;
		}
		p {
			margin-bottom: 1em;
		}
	}
	.page-content {
		clear: both;

		.bio {
			padding: $mobile-side-space;
			display: none;
			&.selected {
				display: block;
			}
		}
	}
	.contact-info {
		padding: 0 0 30px;
		i {
			font-size: 1.3em;
		}
		a:hover i {
			color: #000;
		}
	}
	.hex-callout {
		display: none;
	}
	&.bio-open {
		.professionals-nav {
			a {
				@include transition(all 1s);
				&.selected {
					//width: 50%; // 3 people
					//width: 55%; // 4 people
					//width: 40%; // 5 people
					width: 30%; // 6 people
					strong {
						font-size: 1.5em;
						text-shadow: 0 0 5px rgba(#000,.8);
						@include transition(all .7s);
						@include transition-delay(.3s);
					}
					em {
						font-size: 1em;
						@include transition(all .7s);
						@include transition-delay(.3s);
					}
				}
				&.unselected {
					//width: 25%; // 3 people
					//width: 15%; // 4 people
					//width: 15%; // 5 people
					width: 14%; // 6 people
					@include grayscale(100%);
					opacity: .6;
					em {
						display: none;
					}
					&:hover {
						@include grayscale(0%);
						opacity: 1;
					}
				}
			}

		}
	}
}

@media all and (min-width: 800px) {
.professionals {
	padding: 8em 0;
	h2 {
		margin: 0 auto 2em;
	}
	.professionals-nav {
		strong, em {
			display: block;
		}
		a {
			height: 300px;
		}
	}
	.bio {
		overflow: hidden;
		.list {
			width: 50%;
			float: left;
			.bullets {
				margin-right: 25px;
				
			}
		}
	}
	.page-content {
		.bio {
			padding: 5em;
			border: 1px solid $gray-light;
			border-top: none;
		}
	}
	.contact-info {
		float: right;
		padding: 0 0 30px 30px;
		i {
			font-size: 2em;
		}
	}
	.hex-callout {
		display: block;
	}
	.name {
		display: none;
	}
	&.bio-open {
		.professionals-nav {
			a {
				&.selected {
					strong {
						display: block;
					}
					em {
						display: block;
					}
				}
			}

		}
	}

}
}