@import 'variables';

@import 'reset';
@import 'bg-icons';
@import 'site-frame';
@import 'page-slides';
@import 'home-slides';
@import 'forms';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*:focus {
   outline: 0;
}
body {
  background: $body-background;
  color: $font-color;
}
body, button, label {
	font-family: $font-family; 
}
a {
  color: $link;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  &:hover {
  	color: darken($link, 10);
  }
}
p {
  line-height: 1.5em;
}
.button {
  padding: 1em 1.5em;
  color: #fff;
  display: inline-block;
  background: $main-color;
  font-family: $accent-font;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background: lighten($main-color,10);
  }
}
.button-white {
  padding: 1em 1.5em;
  color: $main-color;
  display: inline-block;
  background: #eee;
  font-family: $accent-font;
  text-transform: uppercase;
  &:hover {
    color: $main-color;
    background: #fff;
  }
}


/* KZ Love Footer */
$kz-font-color: #999;
$kz-font-hover-color: #e13c3b; // red
$kz-bg-color: #e5e5e5;

.site-design {
  background: $kz-bg-color;
  color: $kz-font-color;
  padding: 10px;
  a {
    display: block;
    color: $kz-font-color;
    &:hover {
      color: $kz-font-hover-color;
      .kz-icon-arizona {
        color: $kz-font-hover-color;
      }
    }
  }
  .made-in-az {
    position: relative;
    font-size: 14px;
    padding-left: 35px;
  }
  span {
    display: block;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: bold;
  }
  i {
    position: absolute;
  }
  .icon-arizona {
    top: 0;
    left: 0;
    font-size: 25px;
  }
  .icon-heart-empty {
    color: $kz-bg-color;
    font-size: 11px;
    top: 6px;
    left: 11px;
  }
}