// Team Page
.team-page {
	padding: 4em 0;
	h2 {
		max-width: 600px;
		text-align: center;
		margin: 0 $mobile-side-space 2em;
	}

}
@media all and (min-width: 500px) {
}

@media all and (min-width: 800px) {
.team-page {
	padding: 8em 0;
	h2 {
		margin: 0 auto 2em;
	}
}

}