$team-width: 33.33%;
$team-width-slider: 22vw;
$team-members: 6; // Change the left value below as well (.anchor-right)
$team-width-mobile: 50vw;

.team-list {
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	.inner {
		@include transition(all .8s);
	}
	&.slider {

	}
	.next, .prev {
		display: none;

		position: absolute;
		z-index: 5;
		top: 0; bottom: 0;
		font-size: 50px;
		color: $white;
		line-height: $team-width-mobile;
		width: 50px;
		text-align: center;
		@include transition(all .4s);
		&:hover {
			background: rgba($main-color,.8);
		}
	}
	.next {
		right: 0;
	}
	.prev {
		left: 0;
	}
	a {
		display: block;box-sizing: border-box;
		width: $team-width-mobile;
		height: $team-width-mobile;
		float: left;
		position: relative;
		background: $main-color;
		&:hover {
			&:before {
				margin: 10px;
				opacity: 1;
			}
			.image {
				opacity: .3;
			}
			.copy {
				opacity: 1;
				margin: 30px;
			}
		}
	}
	span {
		display: block;
		color: $white;
		@include transition(all .5s);
	}
	.copy {
		position: absolute;
		margin: 40px 20px 20px 40px;
		top: 0; bottom: 0;
		left: 0; right: 0;
		opacity: 0;
		z-index: 3;
	}
	.name {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 5px; 
		font-family: $accent-font;
	}
	.title {
		font-size: 14px;
		line-height: 18px;
	}
	.image {
		background-size: cover;
		background-position: center top;
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
	}
}

@media all and (min-width: 500px) {
.team-list {
	&.slider {
		height: $team-width-slider;
		.inner {
			width: $team-width-slider*$team-members;
			height: $team-width-slider;
			position: absolute;
			left: 0;
		}
		.next, .prev {
			display: block;
		}
		a {
			display: block;
			width: $team-width-slider;
			height: $team-width-slider;
		}
	}
	&.anchor-right .inner {
		left: -32vw; // This one is weird, cant figure out math so just change it.
	}
	.next, .prev {
		line-height: $team-width-slider;
	}
	a {
		display: block;
		width: $team-width;
		height: 250px;
		&:before {
			position: absolute;
			margin: auto;
			margin: 60px;
			top: 0; bottom: 0;
			left: 0; right: 0;
			border: 1px solid $white;
			content: '';
			display: block;
			z-index: 2;
			opacity: 0;
			@include transition(all .5s);
		}
	}
}
}