@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Roboto+Slab:400,700);

$font-family: 'Source Sans Pro', Helvetica, Arial, "Lucida Grande", sans-serif;
$accent-font: 'Roboto Slab', 'Times New Roman', sans-serif;

//$main-color: #294d66; //navy
$main-color: #213553; //darker
$main-color-highlight: #1d74a9; //darker
$gray-lightest: #f0f3f4;
$gray-light: #ccc;
//$gray: #aaaeb4;
$gray: #8d9095;
$font-color: #333;

$body-background: $gray-lightest;

$page-background: #fff;
$page-size: 960px;

$link: $main-color;

$mobile-side-space: 20px;

$slant-amount: 40px;

$hex-size: 200px;
$hex-size-side: 60px;
$hex-size-height: $hex-size/2;
$hex-color: rgba(#000,.8);
$hex-color: rgba($main-color,1);

$map-height: 500px;
//z-index
//onpage - up to 100
//nav - 100
//modals - 1000 

@mixin grayscale-old($amount) {
	-webkit-filter: grayscale($amount);
	filter: grayscale($amount);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

// Inline images only in IE
@mixin grayscale($amount) {
   @if $amount == '0%' {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'></filter></svg>#grayscale");
    filter: grayscale(0);
    filter: none;
   } @else {
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    filter: grayscale(1);
    filter: gray;

   }
    -webkit-filter: grayscale($amount);
}
@mixin transition($transitions) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}
@mixin transition-delay($transitions) {
    -webkit-transition-delay: $transitions;
    -moz-transition-delay: $transitions;
    -o-transition-delay: $transitions;
    transition-delay: $transitions;
}
@mixin transform($variables) {
  -webkit-transform: $variables;
  -moz-transform:    $variables;
  -ms-transform:     $variables;
  -o-transform:      $variables;
  transform:         $variables;
}
@mixin gradient($start,$start-opacity,$stop,$stop-opacity) {
	background: $start;
	background: -moz-linear-gradient(top,  rgba($start,$start-opacity) 0%, rgba($stop,$stop-opacity) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($start,$start-opacity)), color-stop(100%,rgba($stop,$stop-opacity))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}




