$body-background: #eee;

$page-background: $body-background;

$main-color: #00aeef;

$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$accent-font: 'Times New Roman', sans-serif;

$font-color: #333;
$link: $main-color;