---
layout: default
title: Professionals
meta-title: Experienced Legal Professionals
meta-description: The Blythe Grace family works together to prepare, protect, and defend your business.
---
<!-- OLD TEAM -->

<div class="slide professionals six-people">
  <div class="inner">
    <h2>The Blythe Grace family works together to prepare, protect, and defend your business.</h2>

    <ul class="professionals-nav">
    {% include team-list-person.html layout="professionals-page" slug="robert" name="Robert S. Reder" title="Managing Partner" %}
    {% include team-list-person.html layout="professionals-page" slug="debbie" name="Debbie A. Messing" title="Paralegal &amp; Business Manager" %}
    {% include team-list-person.html layout="professionals-page" slug="patti" name="Patti A. Jennings" title="Paralegal &amp; Firm Administrator" %}
    {% include team-list-person.html layout="professionals-page" slug="stephanie" name="Stephanie Passaro" title="Legal Clerk &amp; HR Specialist" %}
    {% include team-list-person.html layout="professionals-page" slug="chantel" name="Chant&eacute;l N. Braithwaite" title="Accounting Manager" %}
    {% include team-list-person.html layout="professionals-page" slug="cliff" name="Clifford P. Bendau" title="Consultant" %}
    </ul>
  </div>
</div>