<div class="slide contact-home">
  <div class="inner">
      <p><a href="{{ site.baseurl }}/contact" class="button-white">Send Message</a><span>If Blythe Grace would be a good fit for your legal needs, please send us a message or call (480) 663-8838.</span></p>
    </div>
  </div>
</div>

<div class="footer">
  <div class="inner">

    <a href="{{ site.baseurl }}/" class="logo" title="Home"><i class="bg-icon icon-bg"></i></a>
    <ul class="nav">
      <li><a href="{{ site.baseurl }}/our-firm">Our&nbsp;Firm</a></li>
      <li><a href="{{ site.baseurl }}/professionals">Professionals</a></li>
      <li><a href="{{ site.baseurl }}/services">Services</a></li>
      <li><a href="{{ site.baseurl }}/clients">Clients</a></li>
      <li><a href="{{ site.baseurl }}/giving-back">Giving&nbsp;Back</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
    <ul class="social">
      <li><a target="_new" href="https://www.facebook.com/blythegracepllc"><i class="bg-icon icon-facebook"></i><span>Facebook</span></a></li>
      <li><a target="_new" href="https://twitter.com/blythegracepllc"><i class="bg-icon icon-twitter"></i><span>Twitter</span></a></li>
      <li><a target="_new" href="https://plus.google.com/+Blythegrace"><i class="bg-icon icon-gplus"></i><span>Google+</span></a></li>
      <li><a target="_new" href="http://www.linkedin.com/company/blythe-grace-pllc"><i class="bg-icon icon-linkedin"></i><span>LinkedIn</span></a></li>
    </ul>
  </div>
</div>

<div class="disclaimer">
  <div class="inner">
    Sending emails to the firm will not create an attorney-client relationship and may not be kept confidential. Viewing the website also does not create an attorney-client relationship and is informational only. The firm is located in Arizona and its legal practice is in that jurisdiction or in any other jurisdiction where firm lawyers are admitted to practice law.
  </div>
</div>