<div class="site-tag{% if page.title != "Home" %} blue-tag{% endif %}">
  <div class="inner">
    <a class="logo" href="{{ site.baseurl }}/"><i class="bg-icon icon-logo-black"></i></a>
    <a class="mobile-toggle" href="{{ site.baseurl }}/"><i class="bg-icon icon-menu"></i></a>

    <ul class="nav">
      <li><a href="{{ site.baseurl }}/our-firm">Our&nbsp;Firm</a></li>
      <li><a href="{{ site.baseurl }}/professionals">Professionals</a></li>
      <li><a href="{{ site.baseurl }}/services">Services</a></li>
      <li><a href="{{ site.baseurl }}/clients">Clients</a></li>
      <li><a href="{{ site.baseurl }}/giving-back">Giving&nbsp;Back</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
  </div>
</div>