{% if page.team-slug == "robert" %}
<ul class="contact-info">
    <li>
      <a href="{{ site.baseurl }}/contact"><i class="bg-icon icon-mail"></i></a>
      <a target="_blank" href="https://twitter.com/blythegracepllc"><i class="bg-icon icon-twitter"></i></a>
      <a target="_blank" href="http://www.linkedin.com/in/robertreder"><i class="bg-icon icon-linkedin"></i></a>
      <a target="_blank" href="https://www.facebook.com/blythegracepllc"><i class="bg-icon icon-facebook"></i></a>
      <!--a target="_blank" href="http://www.avvo.com/attorneys/85251-az-robert-reder-421831.html"><i class="bg-icon icon-avvo"--></i></a>
    </li>
  </ul>
{% elsif page.team-slug == "patti" %}
<ul class="contact-info">
  <li>
    <a href="{{ site.baseurl }}/contact"><i class="bg-icon icon-mail"></i></a>
    <a target="_blank" href="https://www.linkedin.com/pub/patti-jennings/92/800/979"><i class="bg-icon icon-linkedin"></i></a>
    <a target="_blank" href="https://twitter.com/blythegracepllc"><i class="bg-icon icon-twitter"></i></a>
    <a target="_blank" href="https://www.facebook.com/blythegracepllc"><i class="bg-icon icon-facebook"></i></a>
  </li>
</ul>
{% else %}
<ul class="contact-info">
  <li>
    <a href="{{ site.baseurl }}/contact"><i class="bg-icon icon-mail"></i></a>
    <a target="_blank" href="https://twitter.com/blythegracepllc"><i class="bg-icon icon-twitter"></i></a>
    <a target="_blank" href="https://www.facebook.com/blythegracepllc"><i class="bg-icon icon-facebook"></i></a>
  </li>
</ul>
{% endif %}