{% if page.slug == "robert" %}
<ul class="contact-info">
    <li>
      <img src="{{ site.baseurl }}/img/badge-swsuper.png" alt="Southwest Super Lawyer - 2014, 2015, and 2016" style="width: 150px; margin: 0 auto;display: block;" /><br><br>
      <img src="{{ site.baseurl }}/img/azfinest.png" alt="Sustaining Member of Arizona's Finest Lawyers" style="width: 180px; margin: 0 auto;display: block;" />
      <!--div class="hex-callout">
        <div class="hex">&nbsp;</div>
        <div class="text" data-text-swap="Get Directions">
          <span>Southwest<br>Super Lawyers</span>
          <em>Rising Star<br>2014 & 2015</em>
        </div>
      </div--><br><br>
      <a href="{{ site.baseurl }}/contact"><i class="bg-icon icon-mail"></i></a>
      <a target="_blank" href="https://twitter.com/blythegracepllc"><i class="bg-icon icon-twitter"></i></a>
      <a target="_blank" href="http://www.linkedin.com/in/robertreder"><i class="bg-icon icon-linkedin"></i></a>
      <a target="_blank" href="https://www.facebook.com/blythegracepllc"><i class="bg-icon icon-facebook"></i></a>
      <!--a target="_blank" href="http://www.avvo.com/attorneys/85251-az-robert-reder-421831.html"><i class="bg-icon icon-avvo"--></i></a>
    </li>
  </ul>
{% elsif page.slug == "patti" %}
<ul class="contact-info">
  <li>
    <a href="{{ site.baseurl }}/contact"><i class="bg-icon icon-mail"></i></a>
    <a target="_blank" href="https://www.linkedin.com/pub/patti-jennings/92/800/979"><i class="bg-icon icon-linkedin"></i></a>
    <a target="_blank" href="https://twitter.com/blythegracepllc"><i class="bg-icon icon-twitter"></i></a>
    <a target="_blank" href="https://www.facebook.com/blythegracepllc"><i class="bg-icon icon-facebook"></i></a>
  </li>
</ul>
{% else %}
<ul class="contact-info">
  <li>
    <a href="{{ site.baseurl }}/contact"><i class="bg-icon icon-mail"></i></a>
    <a target="_blank" href="https://twitter.com/blythegracepllc"><i class="bg-icon icon-twitter"></i></a>
    <a target="_blank" href="https://www.facebook.com/blythegracepllc"><i class="bg-icon icon-facebook"></i></a>
  </li>
</ul>
{% endif %}