<div class="team-list {{ include.layout }}">
  <div rel="slider-toggle" data-direction="left" class="prev">&laquo;</div>
  <div class="inner">
    {% include team-list-person.html slug="robert" name="Robert S. Reder" title="Managing Partner" %}
    {% include team-list-person.html slug="debbie" name="Debbie A. Messing" title="Paralegal &amp; Business Manager" %}
    {% include team-list-person.html slug="patti" name="Patti A. Jennings" title="Paralegal &amp; Firm Administrator" %}
    {% include team-list-person.html slug="stephanie" name="Stephanie Passaro" title="Legal Clerk &amp; HR Specialist" %}
    {% include team-list-person.html slug="chantel" name="Chant&eacute;l N. Braithwaite" title="Marketing &amp; Accounting Manager" %}
    {% include team-list-person.html slug="cliff" name="Clifford P. Bendau" title="Consultant" %}
    {% include team-list-person.html slug="sydney" name="Sydney Ferry" title="Receptionist" %}
  </div>
  <div rel="slider-toggle" data-direction="right" class="next">&raquo;</div>
</div>