<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% if page.meta-title %}{{ page.meta-title }}{% elsif page.title %}{{ page.title }} | Blythe Grace{% endif %}</title>
<meta name="google-site-verification" content="t1Y03dpjD9IXpsGeD4zdlzm8bAnBp-JA-5XSKYOPkR0" />
<meta name="description" content="{% if page.meta-description %}{{ page.meta-description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/favicon-152.png">
<meta name="msapplication-TileColor" content="#213553">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/favicon-144.png">

<meta property="og:title" content="Blythe Grace" />
<meta property="og:description" content="Your partner for practical legal advice and experienced representation to protect your business." />
<meta property="og:image" content="{{ site.baseurl }}/img/fbimage.png" />

<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css?v=3">

<script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

</head>
{% if page.title == "Home" %}
<body class="home">
{% elsif page.title == "Our Firm" %}
<body class="page our-firm-page">
{% elsif page.title == "Contact" %}
<body class="page contact">
{% else %}
<body class="page">
{% endif %}
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% include header.html %}

{% if page.title != "Home" %}
<div class="slide slide-page-header">
  <div class="inner">
    <h1>{{ page.title }}</h1>
  </div>
</div>
{% endif %}

{% if page.slug == "bio" %}
{% include team-bio.html %}
{% else %}
{{ content }}
{% endif %}

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

<script src="{{ site.baseurl }}/js/main.js?v=3"></script>
{% if page.title == "Contact" %}
<script src="{{ site.baseurl }}/js/vendor/parsley.min.js"></script>
<script>
// Form Validation ----------------------------------------------------------
//.field-error
</script>
{% endif %}
<!-- Google Analytics - Blythe Grace -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63931864-1', 'auto');
  ga('send', 'pageview');
</script>